form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.form-group {
    padding: 25px;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
}